.form
  box-sizing: border-box
  padding: 40px
  max-width: 500px
  border-radius: 10px
  background-color: $primary-color

  &__title
    text-align: center
    color: $primary-color-text
    font(2.25em, 1.2, 200)

  &__text
    margin-bottom: 20px
    text-align: center
    color: $primary-color-text
    font(1.125em, 1.2, 200)
    
  &__name
  &__tel
    box-sizing: border-box
    display: block
    padding: 15px 20px
    width: 100%
    border: 2px solid $divider-color
    outline: none
    border-radius: 5px
    font(0.875em, 1.2, 200)

  &__name
    margin-bottom: 10px

  &__tel
    margin-bottom: 20px

  &__btn
    width: 100%
    margin-bottom: 10px

  &__fn
    color: $primary-color-text
    font(1em, 1.2, 200)