.logotype
  padding: 0 10px
  height: 140px
  background-color: $primary-color

  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  
  &__image
    img
      max-width: 100%