.modal-form
  position: relative
  display: none
  
  &__close
    &::before
    &::after
      position: absolute
      top: 30px
      right: 15px
      display: block
      width: 40px
      height: 8px
      background-color: $primary-color-text
      content: ""

      transition: all 0.4s ease-in-out

    &::before
      transform: rotate(45deg)

    &::after
      transform: rotate(-45deg)
      
    &:hover
      &::before
      &::after
        background-color: $accent-color
        
        transition: all 0.4s ease-in-out

  &--js
    position: fixed
    z-index: 15
    display: block
    top: 50%
    left: 50%

    transform: translate(-50%, -50%)
  