.slider
  box-sizing: border-box
  padding: 20px
  text-align: left
  border: 2px solid $primary-text-color

  @media $desktop
    padding: 40px

  &__text
    margin-bottom: 10px
    font(1em, 1.2, 300)

    &:last-of-type
      margin-bottom: 0

  &__wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    font-size: 0

    @media $special
      flex-wrap: wrap

  &__weight
    display: none
      
    @media $tablet-desktop
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      color: $primary-color-text
      background-color: $primary-color
      border-radius: 50%
      font(2.5rem, 1.2, 500)

    @media $tablet
      width: 120px
      height: 120px

    @media $desktop
      width: 150px
      height: 150px

  &__quote
    display: block
    color: $accent-color
    font-family: $font-title
    font(1.5em, 1.2, 500)
    
  &__name
    display: block
    margin-bottom: 20px
    color: $primary-text-color
    font-style: normal
    font(1em, 1.2, 500)
    
  &__image
    @media $special
      flex-basis: 100%
    
    @media $tablet-desktop
      flex-basis: 33%

    img
      min-width: 100%

  &__desc
    margin-bottom: 20px
    text-align: center
    font(1.5rem, 1.2, 500)