$primary-color-dark = #1d53af
$primary-color = #008f94
$secondary-color = #389a15
$paint-color = #000000
$primary-color-text = #ffffff
$accent-color-dark = #b83b14
$accent-color = #e64a19
$primary-text-color = #212121
$secondary-text-color = #757575
$divider-color = #bdbdbd