body
  position: relative
  font-family: $font-text
  font-weight: 300
  font-size: 80%

  @media $tablet
    font-size: 90%

  @media $desktop
    font-size: 100%

h1
h2
h3
  font-family: $font-title
  font-weight: 400

strong
  font-weight: 500

body
figure
h1
h2
h3
p
ul
  margin: 0

figure
ul
  padding: 0